<<<<<<< HEAD
/* styles/3-footer.css */
footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
=======
/*
 * === Footer style ===
 */

/* Footer style */
footer {
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #ccc;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  position: absolute;
  width: 100%;
>>>>>>> 32e93906f1a83d8d5991ba4b71e83a805af8fa39
}
