/* styles/4-common.css */
body {
	margin: 0px;
	padding: 0px;
	color: #484848;
    font-size: 14px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container{
    margin: auto;
    max-width: 1000px;
    margin-top: 30px;
    margin-bottom: 30px;
}
