<<<<<<< HEAD
/* styles/4-filters.css */
.filters{
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border:solid 1px #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

secton.filters button{
    font-size: 10px;
    color: #ffffff;
    background-color: #ff5a5f;
    height: 48px;
    border:0px;
    border-radius: 4px;
    width: 20%;
    margin-right: 30px;
    opacity: 1;
}
section.filters button:hover{
    opacity: 90%;

=======
/*
 * === Filters class style ===
 */

/* Filters style */
.filters {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 70px;
  width: 100%;
}

/* Search button style */
.filters button {
  background: #ff5a5f;
  border: none;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-size: 18px;
  height: 48px;
  margin: 12px 30px;
  width: 20%;
}

/* Search button hover opacity */
.filters button:hover {
  background-color: rgba(255, 90, 95, .9);
>>>>>>> 32e93906f1a83d8d5991ba4b71e83a805af8fa39
}
