<<<<<<< HEAD
/* styles/5-filters.css */
.filters{
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    text-align: right;
}

section.filters button{
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 30px;
    font-size: 18px;
    background-color: #ff5a5f;
    color: white;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}
section.filters button:hover {
    opacity: 90%;
}
.locations{
    text-align: left;
    height: 100%;
    width: 25%;
    border-right: solid 1px #DDDDDD;
    margin-left: 30px;
    float: left;
}
.amenities{
    text-align: left;
    height: 100%;
    width: 25%;
    margin-left: 30px;
    float: left;
}
h3{
    font-weight: 600;
    margin: 0px;
    margin-top: 17px;
    padding: 0px;
}
h4{
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
=======
/*
 * === Filters class style ===
 */

/* Filters style */
.filters {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 70px;
  width: 100%;
}

/* Search button style */
.filters button {
  background: #ff5a5f;
  border: none;
  border-radius: 4px;
  color: #fff;
  float: right;
  font-size: 18px;
  height: 48px;
  margin: 12px 30px;
  width: 20%;
}

/* Search button hover opacity */
.filters button:hover {
  background-color: rgba(255, 90, 95, .9);
}

/* Locations and amenities style */
.locations,
.amenities {
  display: inline-block;
  height: 100%;
  width: 25%;
}

/* Locations border */
.locations {
  border-right: 1px solid #ddd;
}

/*
 * --- Places header style ---
 */

/* Header box sizing */
.filters h2,
.filters h3,
.filters h4 {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Header 3 style */
.filters h3 {
  font-size: 1.17em;
  font-weight: 600;
  height: 50%;
  padding: 15.5px 0 0 30px;
}

/* Header 4 style */
.filters h4 {
  font-size: 14px;
  font-weight: 400;
  height: 50%;
  padding: 4.5px 0 12px 30px;
>>>>>>> 32e93906f1a83d8d5991ba4b71e83a805af8fa39
}
